<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('style/main.css') }}" />

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
        <script src="{{ asset('script/menu.js') }}" defer></script>
        <script src="{{ asset('script/modal.js') }}"></script>
    </head>
    <body>

        <header>
            
            <a class="linkLogo" href="/">
                <img src="{{ asset('pictures/logos/fakelogo.png') }}" alt="Logo goldershark">
            </a>
            
        </header>

        <menu id="MenuApp">
            <div id="MenuOpenClose"> <i class="fas fa-chevron-left"></i> </div>
            
            <div class="containerLinkMenu">
                <a class="menuSimpleLink" href="/"><i class="fas fa-user"></i> <span class="MenuTextButton">Accueil</span></a>
                <a class="menuSimpleLink" href="/grade"><i class="fas fa-medal"></i> <span class="MenuTextButton">Mes grades</span></a>
                <a class="menuSimpleLink" href="/grade"><i class="fas fa-home"></i> <span class="MenuTextButton">Mes terrains</span></a>
                <a class="menuSimpleLink" href="/grade"><i class="fas fa-dollar-sign"></i> <span class="MenuTextButton">Ma banque</span></a>
                <a class="menuSimpleLink" href="/grade"><i class="fas fa-building"></i> <span class="MenuTextButton">Mon entreprise</span></a>
                <a class="menuSimpleLink" href="/grade"><i class="fas fa-chart-line"></i> <span class="MenuTextButton">Mes actions</span></a>

            </div>

        </menu>


        <main>
            {% block body %}{% endblock %}
        </main>

        
        



        
    </body>
</html>
