{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('style/area.css') }}" />

{% endblock %}
{% block title %}GoldenShark : Mes terrains{% endblock %}

{% block body %}


    <div class="containerMesTerrains">
        <div class="terrainDispo">Voir les terrains disponibles : <a class="buttonStyle buttonStyle-green" href="http://51.75.186.103:30580/" target="_blank">Dynmap</a></div>
        <h1>Mes terrains</h1>
        <div class="allTerrain">

            {# Balise pour 1 terrains#}
            <div class="oneTerrain">
                <div class="imageTerrain">logoTerrain</div>
                <div class="nameTerrain">Terrain : <span>Zone4892</span></div>
                <div class="inviterTerrain">
                    <span class="titreTerrain">Droit de contruction :</span> <br>
                    <span class="PlayerTerrain">Zwatagar <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Maxichienne <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Go4father <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Presussit_in_Ore <a href="#"><i class="fas fa-times"></i></a></span>
                </div>

                <button id="ButtonModalAddPlayer"><i class="far fa-plus-square"></i> &nbsp;Ajouter un joueur</button>
                    <div id="ModalAddPlayer">
                        <div class="titreModal">Ajoutez un joueur à votre terrain</div>
                        <div class="contentModal">contenue du modal</div>
                    </div>
                    <script> var modal1 = newModal.initModal("ButtonModalAddPlayer" , "ModalAddPlayer");</script>
            </div>

            {# Balise pour 1 terrains#}
            <div class="oneTerrain">
                <div class="imageTerrain">logoTerrain</div>
                <div class="nameTerrain">Terrain : <span>Zone4892</span></div>
                <div class="inviterTerrain">
                    <span class="titreTerrain">Droit de contruction :</span> <br>
                    <span class="PlayerTerrain">Zwatagar <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Maxichienne <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Go4father <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Presussit_in_Ore <a href="#"><i class="fas fa-times"></i></a></span>
                </div>

                <button id="ButtonModalAddPlayer"><i class="far fa-plus-square"></i> &nbsp;Ajouter un joueur</button>
                    <div id="ModalAddPlayer">
                        <div class="titreModal">Ajoutez un joueur à votre terrain</div>
                        <div class="contentModal">contenue du modal</div>
                    </div>
                    <script> var modal1 = newModal.initModal("ButtonModalAddPlayer" , "ModalAddPlayer");</script>
            </div>

            {# Balise pour 1 terrains#}
            <div class="oneTerrain">
                <div class="imageTerrain">logoTerrain</div>
                <div class="nameTerrain">Terrain : <span>Zone4892</span></div>
                <div class="inviterTerrain">
                    <span class="titreTerrain">Droit de contruction :</span> <br>
                    <span class="PlayerTerrain">Zwatagar <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Maxichienne <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Go4father <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Presussit_in_Ore <a href="#"><i class="fas fa-times"></i></a></span>
                </div>

                <button id="ButtonModalAddPlayer"><i class="far fa-plus-square"></i> &nbsp;Ajouter un joueur</button>
                    <div id="ModalAddPlayer">
                        <div class="titreModal">Ajoutez un joueur à votre terrain</div>
                        <div class="contentModal">contenue du modal</div>
                    </div>
                    <script> var modal1 = newModal.initModal("ButtonModalAddPlayer" , "ModalAddPlayer");</script>
            </div>

            {# Balise pour 1 terrains#}
            <div class="oneTerrain">
                <div class="imageTerrain">logoTerrain</div>
                <div class="nameTerrain">Terrain : <span>Zone4892</span></div>
                <div class="inviterTerrain">
                    <span class="titreTerrain">Droit de contruction :</span> <br>
                    <span class="PlayerTerrain">Zwatagar <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Maxichienne <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Go4father <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Presussit_in_Ore <a href="#"><i class="fas fa-times"></i></a></span>
                </div>

                <button id="ButtonModalAddPlayer"><i class="far fa-plus-square"></i> &nbsp;Ajouter un joueur</button>
                    <div id="ModalAddPlayer">
                        <div class="titreModal">Ajoutez un joueur à votre terrain</div>
                        <div class="contentModal">contenue du modal</div>
                    </div>
                    <script> var modal1 = newModal.initModal("ButtonModalAddPlayer" , "ModalAddPlayer");</script>
            </div>

            {# Balise pour 1 terrains#}
            <div class="oneTerrain">
                <div class="imageTerrain">logoTerrain</div>
                <div class="nameTerrain">Terrain : <span>Zone4892</span></div>
                <div class="inviterTerrain">
                    <span class="titreTerrain">Droit de contruction :</span> <br>
                    <span class="PlayerTerrain">Zwatagar <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Maxichienne <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Go4father <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Presussit_in_Ore <a href="#"><i class="fas fa-times"></i></a></span>
                </div>

                <button id="ButtonModalAddPlayer"><i class="far fa-plus-square"></i> &nbsp;Ajouter un joueur</button>
                    <div id="ModalAddPlayer">
                        <div class="titreModal">Ajoutez un joueur à votre terrain</div>
                        <div class="contentModal">contenue du modal</div>
                    </div>
                    <script> var modal1 = newModal.initModal("ButtonModalAddPlayer" , "ModalAddPlayer");</script>
            </div>

            {# Balise pour 1 terrains#}
            <div class="oneTerrain">
                <div class="imageTerrain">logoTerrain</div>
                <div class="nameTerrain">Terrain : <span>Zone4892</span></div>
                <div class="inviterTerrain">
                    <span class="titreTerrain">Droit de contruction :</span> <br>
                    <span class="PlayerTerrain">Zwatagar <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Maxichienne <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Go4father <a href="#"><i class="fas fa-times"></i></a></span>
                    <span class="PlayerTerrain">Presussit_in_Ore <a href="#"><i class="fas fa-times"></i></a></span>
                </div>

                <button id="ButtonModalAddPlayer"><i class="far fa-plus-square"></i> &nbsp;Ajouter un joueur</button>
                    <div id="ModalAddPlayer">
                        <div class="titreModal">Ajoutez un joueur à votre terrain</div>
                        <div class="contentModal">contenue du modal</div>
                    </div>
                    <script> var modal1 = newModal.initModal("ButtonModalAddPlayer" , "ModalAddPlayer");</script>
            </div>


        </div>
    </div>



{% endblock %}
